<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Site{% endblock %}</title>
    <!-- Здесь вы можете добавить подключения к вашим статическим файлам, например, CSS-стили, JavaScript-скрипты и т. д. -->
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'account:login' %}">Login</a></li>
                    <li><a href="{% url 'account:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

   <main>
    <h2>Login</h2>
    <form method="post" action="{% url 'account:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="/" /> <!-- Устанавливаем перенаправление на главную страницу -->
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</main>

    <footer>
        <!-- Здесь вы можете добавить информацию о футере, например, ссылки на социальные сети, копирайт и т. д. -->
    </footer>

</body>
</html>
