body {
    background-image: url(http://images-s.kinorium.com/movie/shot/2060815/w1500_51003042.jpg);
    background-size: cover;
    background-attachment: fixed;



}
aside {
    float: left;
    background: black;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: black;
    border-right: 5px solid #4d4d4d;
    position: fixed;


}


}
aside img {
    width: 80px;
    float: left;
py
}
aside .logo{
    font-size:30px;
    margin-left: 1px;
    font-weight: bold;
    position: relative;
    top: -5px;
}
aside h3{
    margin-top: 100px;
    font-size: 20px;
}
aside ul{list-style: none}
aside ul li {
    color: white;
    display: block;
    margin-top: 1px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: brown;
    text-decoration: none;
    transform: scale(1.05);

}
main .features{
    float: left;
    color: grey;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}
main .features h1 {front-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}


.alert-warning{
    float: left;
    clear: both ;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}




aside .logo,
p,
h2 {

    ;
    transform: translateX: 15px
}

aside .logo {
    color: #F5F5DC ;
    transform: translateX(15px);
}
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');
h3 {
    color: white;
    font-family: 'Saira', sans-serif;
    font-size: 300px;

}

aside hr {
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}
@import url('https://fonts.cdnfonts.com/css/viking-hell');
li {
    font-family: 'Saira', sans-serif;
}

h1 {
    font-family: 'Viking Hell', sans-serif;
    color: #F5F5DC;
    margin-left: 500px
}

p {
    font-family: 'Viking Hell', sans-serif;
    color: white;
    border: 2px black;
    transform:translateX(250px)
}

hr.line {
    transform: translateX(240px);

}

button {
    transform: translateX(240px)
}